<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type= "text/css" href="/stylesheets/style.css">
  </head>

  <body>
    <h1> WikiSearch </h1>
    <form>
      <input type="radio" name="typeOfSearch" value="useful" checked> Useful Search
      <input type="radio" name="typeOfSearch" value="reallyUseful"> REALLY useful search
    </form>
    <br>
    <input type="text" name="search" placeholder="Search">
    <a href = "/results"><button type="button"> Go! </button> </a>

  </body>


</html>
