<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type= "text/css" href="/stylesheets/style.css">
    <!-- <script src="/lib/entry.js" type="text/javascript"></script> -->
  </head>

  <body>
    <h1> WikiSearch </h1>

    <form action = "/results" method = "POST">

      <input type="radio" name="useful" id = "useful"> Useful Search
      <input type="radio" name="reallyUseful" id = "reallyUseful"> REALLY useful search


      <br>
      <br>

      <input type="text" name="firstText" placeholder="First term" value = "">

      <select id="operation">
        <option> and </option>
        <option> or </option>
        <option> minus </option>
      </select>

      <input type="text" name="secondText" placeholder="Second term" value = "">
      <p id = "typeOfSearch"></p>
      <button type = "submit" onclick = "onRadioButton()">Go!</button>

    </form>

    <script>
    function onRadioButton() {
      if(document.getElementById('useful').checked) {
          document.getElementById("typeOfSearch").innerHTML = "useful"
        } else if(document.getElementById('reallyUseful').checked) {
          document.getElementById("typeOfSearch").innerHTML = "reallyUseful"
        }
      }
    </script>

    <!-- <script>
      function getText() {
        var text = ""
        var first = document.getElementById("ftextField").value;
        var option = operation.options[operation.selectedIndex].text;
        var second = document.getElementById("ftextField").value;
        text = first + option + second
        // document.getElementById("result").value = text
      }
    </script> -->
    <!-- <script>
      function checkFirstTextField() {
        var text = document.getElementById("#ftextField").value;
        if(text.length != 0) {
          alert("Did you mean to enter something in the search bar?");
          submitOK = "false";
          return false
        } else {
          submitOK = "true"
          return true
        }
        print("hellooooo")
      }
      </script> -->
  </body>


</html>
