/*.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.input[type=text]:focus {
    width: 100%;
}*/

body{
  /*background-color: black;*/
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 100;
}

h1 {
  text-align: center;
}
